---
import '../styles/templatemo-xtra-blog.css';
import HeadingGif from '/img/Heading.gif';
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#">
    <title>Motivations collection</title>
    <!-- https://fonts.google.com/ -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet" />
    <!-- bootstrap min -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<header>
    <h1 class="mainHeading"><img src={HeadingGif} alt="" /></h1>
</header>

<body>
	<slot />
</body>	

</html>
